*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    

}
:root{
   
    --primaryColor:#ffffff;
    --secondaryColor:#eff1f8;
    --bg-color:#f1f1f1;
    --btn-color:#265ef8;
    --text-color:#707070;
    --black:#d122d1b6;

}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--bg-color);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #364968;
    padding: 1rem 0.2rem;
    position:fixed;
     
    width: 100%;
}
.logo a {
    text-decoration: none;
    font-size: 2rem;
    color: #e09664 ;
    text-transform: uppercase;
    
}


.buttons {
    display: flex;
    gap: 1.6rem;
}
.buttons a {
    text-align: center;
    font-size: 1.5rem;
width: 10rem;
text-decoration: none;
font-size: 1.4rem;
font-weight: 600;
background-color:#e09664;
color: var(--primaryColor);
padding: 1rem;
border-radius: 0.5rem;
}
.buttons a:hover{
    color:var(--black);
    transition: all 0.4s ease-in-out;
}
.humburger{
display: none;
}
.humburger i{
    font-size: 2.8rem;
    cursor: pointer;
    color:var(--btn-color);
}
.humburger i:hover{
    color: black;
}

.hero-section{
    display: flex;
    justify-content: center;
    padding: 7rem 15rem;
}

.post-section{
    /* border: 0.2rem solid #FF0060;    */
    border-radius: 1rem; 
    padding: 3rem ;
    background-color:var(--primaryColor);
    width: 100%;
    
    
}

 
.paragraph p{
    font-size: 1.6rem;
    text-align: justify;
    color: var(--text-color);

}
.images {

    text-align: center;
  
    
}
.images img{
    width: 80%;

}
.user-section{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
   
    font-size: 1.8rem;
}

.replybox{
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
    
}
 
.replybox textarea{
    
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #d1d1d1;
}
.replybox button{
    background-color:var(--btn-color);
    color:black;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.7rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.reply-section button:hover{
    background-color: black;
    color: #FF0060;
}
.user-detail h2 {
margin: 2rem 0rem;
font-size: 1.7rem;
}
.image-name{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.users-name p{
font-size: 1.5rem;
font-weight: 600;
}
.user-image{
    width: 5rem;
}
.user-image img{
    border-radius: 50%;
    width: 100%;
}
.comment p{
font-size: 1.7rem;
}
.like i {
    font-size: 1.9rem;
    cursor: pointer;
}
.like i:hover{
    color: #FF0060;
}




.post {
    height: 150vh;
    width: 100%

}
.hero-section{
display: flex;
    justify-content: flex-start;
    padding: 7rem 7rem;

}

.right{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.left{

    background-size: contain;
    width: 29%;
    height: 19rem;
 
    background-position: center
}

@media only screen and (max-width:1100px){

    .hero-section{
        padding: 2.5rem;
    }
    .post-section{
        width: 1005;
    }

}

@media only screen and (max-width:1007px){

    .hero-section{
        padding: 2rem;
    }
    .post-section{
        width: 1005;
    }

}






@media only screen and (max-width:640px){
    .humburger{
    display: block;
    }
    html{
        font-size: 54%;
    }
    .humburger i{
        font-size: 3.5rem;
    }
    .navbar{
        gap: 1.5rem;
        padding: 1rem 2.7rem;
    }
   
    .buttons{
        position: absolute;
        top: 5.2rem;
        left: 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        padding: 2rem 0rem;
        height: 100vh;
        opacity: 100%;
    }
    .menuShow{
        opacity: 0;
        z-index: -1;
    }
    .buttons a{
          background-color: none;
          font-size: 1.8rem;
    }
    .hero-section{
        padding: 0.8rem;
    }
    .post-section{
        width: 1005;
    }
    
    .user-section{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
       
        font-size: 1.8rem;
    }
}
 