*{
    margin: 0;
    padding: 0; 
    font-family: "Montserrat", sans-serif;
    

}
:root{
   
    --primaryColor:#ffffff;
    --secondaryColor:#eff1f8;
    --bg-color:#f1f1f1;
    --btn-color:#265ef8;
    --text-color:#707070;
    --black:#d122d1b6;
}
html{
    font-size: 62.5%;
}

.navbar{
display: flex;
align-items: center;
justify-content: space-between;
background-color:  #364968;
padding: 1rem 0.2rem;
position:fixed;
 
width: 100%;
/* box-shadow: 0.1rem 0.1rem 0.1rem; */
}
.logo a {
    text-decoration: none;
    font-size: 2rem;
    color: #e09664 ;
    text-transform: uppercase;
    
    
}
body{
    background-color: var(--bg-color);
}
 
.search {
    width: 45rem;
    display: flex;
}
.search input{
    width: 100%;
    padding: 01rem 4rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--bg-color);

}

.search i{
    position: relative;
    left: 2.1rem;
    top: 0.9rem;
    font-size: 1.6rem;
    color: black;
}
.buttons {
    display: flex;
    gap: 1.6rem;
}
.buttons a {
        text-align: center;
        font-size: 1.5rem;
    width: 10rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    background-color:#e09664;
    color: var(--primaryColor);
    padding: 1rem;
    border-radius: 0.5rem;
}
.buttons a:hover{
    color: var(--black);
    transition: all 0.4s ease-in-out;
}
.humburger{
display: none;
}
.humburger i{
    font-size: 2.8rem;
    cursor: pointer;
    color: black;
}
.humburger i:hover{
    color: white;
}



.hero-section{
    padding: 4rem;
    height: 150vh;
}
.postHead{
    padding: 6rem 0rem;
    font-size: 3.5rem;
    color:#364968;
    text-transform: uppercase;
    text-align: center;
}
.post{
    display: flex;
    justify-content: space-between;

    background-color: #e09664;
    padding: 5rem;
    border-radius: 01rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    box-shadow: 10px 11px 46px -3px rgba(253,223,151,0.75);
-webkit-box-shadow: 10px 11px 46px -3px rgba(253,223,151,0.75);
-moz-box-shadow: 10px 11px 46px -3px rgba(253,223,151,0.75);
}
.right{
    width: 33rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.right a{
    text-decoration: none;
    color:var(--text-color);
}
.right h1 {
    font-size: 3.4rem;
    padding-bottom: 1rem;
   
}
.right h1 a{
    color: #364968;
    text-transform: uppercase;
}
.right p{
    font-size: 1.7rem;
    padding-left: 0;
    padding-left: 0;

}
.detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 0;
    
}
.left{
   
    width: 35%;
    height: 25rem;
    border-radius: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}







.foot{
    background-color: var(--black);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    /* padding: 5rem; */
}

.footlist{
    width: 50%;
    font-size: 1.8rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
}
.footlist h1{
    color: var(--btn-color);
}
.socail{
    width: 50%;
    font-size: 1.5rem;
    padding: 4rem;
}

.socail .footul{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.7rem;
    padding: 2rem 0rem;
    cursor: pointer;
}
.footul i{
    font-size: 3rem;
    
}
.footul i:hover{
    color: var(--btn-color);
}
.copyright{
    background-color: var(--primaryColor);
    color: black;
    align-self: baseline;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
}


/* for Tablet screen size */

@media only screen and (max-width:1007px){
    html{
        font-size: 60%;
    }
    .logo a {
        font-size: 1.8em;
    }
    .search {
        width: 36rem;
        display: flex;
    }
    .humburger{
    display: block;
    }
    .humburger i{
        font-size: 3.5rem;
    }
    .navbar{
        gap: 1.5rem;
    }
    .buttons{
        position: absolute;
        top: 5.5rem;
        right: 0rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        padding: 2rem 0rem;
        height: 40vh;
        opacity: 100%;
       
    }
    .menuShow{
        opacity: 0;
        
    }

    .buttons a{
          background-color: none;
          font-size: 1.8rem;
    }

    .postHead{
        
padding: 3rem 0rem;
 font-size: 3rem;
            color:var(--btn-color);
    
    }
    .post{
        display: flex;
        flex-direction: column;
        background-color: var(--primaryColor);
        padding: 5rem;
        margin-bottom: 3rem;
        border-radius: 01rem;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
        height: 25rem;
    }
}


/* for Mobile screen size */

@media only screen and (max-width:640px){
    .humburger{
    display: block;
    }
    html{
        font-size: 54%;
    }
    .humburger i{
        font-size: 3.5rem;
    }
    .navbar{
        gap: 1.5rem;
        padding: 1rem 2.7rem;
    }
    .search {
        width: 30rem;
    }
    .search input{
        width: 100%;
        padding: 01rem 2.7rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
    
    }
    .buttons{
        position: absolute;
        top: 5.5rem;
        left: 0rem;
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        background-color: black;
        align-items: center;
        padding: 2rem 0rem;
        height: 100vh;
        opacity: 100%;
    
        
    }
    .menuShow{
        opacity: 0;
        z-index: -1;
        
        
    }
    .buttons a{
          background-color: none;
          font-size: 1.8rem;
    }
    .hero-section{
        padding: 6rem 1rem;
        /* z-index: -1;    */
    }
    .postHead{
        padding: 3rem 0rem;
        font-size: 3rem;
        color:var(--btn-color);
    }
    .post{
        display: flex;
        flex-direction: column;
        background-color: var(--primaryColor);
        padding: 1.7rem 1.5rem;
        border-radius: 01rem;
        margin-bottom: 3rem;
        
    }
    .right{
        width: 100%;
    }
    .right h1 {
        font-size: 3rem;
        padding-bottom: 0.7rem;
    }
    .detail{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
        
    }
    .left{
        width: 100%;
        height: 20rem;
    }


    .footlist{
        width: 50%;
        font-size: 1.5rem;
        padding: 3rem;
        display: flex;
        justify-content: center;
    }
    .footlist h1{
        font-size: 2rem;
    }
    .socail{
        width: 50%;
        font-size: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    
    }
    
    .socail h1{
        font-size: 1.7rem;
    }
    .footul i{
        font-size: 1.4rem;
    }

    .copyright {
        font-size: 1.4rem;
    }
}

